Repository samtools/hts-specs, pull requests merged in 2018-05, with the labels that each got.

#294 SAM SA tag: make rname and strand requirements explicit.
  SAMtags.tex
  SAMv1.tex
Labels: ready_to_merge, sam

#304 Bug fix NP encoding type.
  CRAMv2.1.tex
  CRAMv3.tex
Labels: cram

#307 Bump version to VN:1.6 due to long CIGAR strings
  SAMtags.tex
  SAMv1.tex
Labels: sam

#318 Fixing a typo in the VCF spec
  VCFv4.1.tex
  VCFv4.2.tex
  VCFv4.3.tex
Labels: vcf
