Repository samtools/hts-specs, pull requests merged in 2018-10, with the labels that each got.

#348 BND restored as a valid SVTYPE
  VCFv4.3.tex
Labels: vcf

#336 Product review committee changes v1
  pub/refget-openapi.yaml
  refget.md
Labels: refget

#221 Added row on SS (subsort) to the SAM header line table.
  SAMv1.tex
Labels: sam
