Repository samtools/hts-specs, pull requests merged in 2019-10, with the labels that each got.

#441 Matt is no longer a maintainer
  MAINTAINERS.md
Labels: refget

#452 Distinguish between CRAM external encodings and EXTERNAL proper.
  CRAMv3.tex
Labels: cram

#406 Adds crypt4gh (GA4GH encrypted file format proposal)
  MAINTAINERS.md
  Makefile
  README.md
  crypt4gh.tex
  index.md
Labels: crypt4gh
