Repository samtools/hts-specs, pull requests merged in 2020-06, with the labels that each got.

#500 Add MD string definition clarifying how MD is constructed
  SAMtags.tex
Labels: sam, sam-tags

#494 htsget: refer JSON compatibility to OpenAPI instead of protobuf3
  htsget.md
Labels: htsget

#464 VCF: Clarify * as overlapping allele, not overlapping base #437
  VCFv4.3.tex
  VCFv4.4.tex
Labels: vcf

#492 Clarify percent encoding
  VCFv4.3.tex
  VCFv4.4.tex
Labels: vcf
