Repository samtools/hts-specs, pull requests merged in 2020-01, with the labels that each got.

#405 Representation of cross-join mappings on circular reference sequences
  SAMv1.tex
Labels: sam

#463 CRAM: Clarify NM and MD creation
  CRAMv3.tex
Labels: cram

#467 Show double quotes around ##ALT Description
  VCFv4.1.tex
  VCFv4.2.tex
  VCFv4.3.tex
Labels: vcf
