Repository samtools/hts-specs, pull requests merged in 2020-03, with the labels that each got.

#472 Proposal: Clarify that the htsget specification text takes precedence over OpenAPI
  htsget.md
Labels: htsget

#379 Restrict allowed VCF Contig ID chars the same way as SAM RNAME (and allow colons)
  VCFv4.1.tex
  VCFv4.2.tex
  VCFv4.3.tex
Labels: vcf

#292 added the TS tag for "transcript strand"
  SAMtags.tex
Labels: sam

#473 Refget spec text takes precedence over OpenAPI.
  refget.md
Labels: refget

#484 Clarify the existing rules for the `@HD` header
  SAMv1.tex
Labels: sam
