Repository samtools/hts-specs, pull requests merged in 2021-02, with the labels that each got.

#542 Add subtitles noting VCF v4.1 & v4.2 have been superseded by a later version
  VCFv4.1.tex
  VCFv4.2.tex
Labels: vcf

#532 Add some CRAM history and acknowledgements
  CRAMv3.tex
Labels: cram

#530 Refresh htsget interop site
  htsget_interop.html
Labels: htsget
