Repository samtools/hts-specs, pull requests merged in 2021-07, with the labels that each got.

#575 htsget field filtering: explicate that servers may return a superset of requested fields
  htsget.md
Labels: htsget

#418 Describe MM and MP methylation tags.
  Makefile
  SAMtags.tex
  test/SAMtags/MM-chebi.sam
  test/SAMtags/MM-chebi.txt
  test/SAMtags/MM-double.sam
  test/SAMtags/MM-double.txt
  test/SAMtags/MM-multi.sam
  test/SAMtags/MM-multi.txt
  test/SAMtags/MM-orient.sam
  test/SAMtags/MM-orient.txt
  test/SAMtags/README.md
  test/SAMtags/parse_mm.pl
Labels: sam, sam-tags

#583 Fix `##PEDIGREE` example typographical errors
  VCFv4.1.tex
  VCFv4.2.tex
  VCFv4.3.tex
  VCFv4.4.draft.tex
Labels: vcf
