Repository samtools/hts-specs, pull requests merged in 2021-05, with the labels that each got.

#564 Fix invalid @CO lines in SAM test data.
  test/sam/passed/pnext.pair-2nd.sam
  test/sam/passed/pnext.pair-supp.sam
  test/sam/passed/pnext.warn-pair-2nd.sam
  test/sam/passed/pnext.warn-pair-supp.sam
Labels: sam

#456 Add VCF Header length redux
  VCFv4.1.tex
  VCFv4.2.tex
  VCFv4.3.tex
  VCFv4.4.draft.tex
Labels: vcf

#562 Moved the no-EOF test cram from passed to failed.
  test/cram/3.0/README.md
  test/cram/3.0/failed/0000_empty_noeof.cram
  test/cram/3.0/failed/0000_empty_noeof.sam
Labels: cram

#522 SAM: explicitly limit the TLEN field to the "primary alignment".
  SAMv1.tex
Labels: sam
