Repository samtools/hts-specs, pull requests merged in 2022-08, with the labels that each got.

#659 Tighten CRAM container language.
  CRAMv3.tex
Labels: cram

#653 VCF4.3 to VCF4.4 change list
  VCFv4.3.tex
  VCFv4.4.draft.tex
Labels: vcf

#657 #624 removed incorrect ALT clarification
  VCFv4.4.draft.tex
Labels: vcf

#566 Clarify the the source of the contig in VCF
  VCFv4.1.tex
  VCFv4.2.tex
  VCFv4.3.tex
  VCFv4.4.draft.tex
Labels: vcf

#656 Addressing VCF 4.4 feedback
  VCFv4.4.draft.tex
  examples/vcf/sv44.vcf
Labels: vcf

#620 Clarify description of structured vs unstructured meta-information lines
  VCFv4.1.tex
  VCFv4.2.tex
  VCFv4.3.tex
  test/vcf/4.1/failed/failed_meta_pedigreedb_002.vcf
  test/vcf/4.1/passed/complexfile_passed_000.vcf
  test/vcf/4.1/passed/passed_meta_pedigreedb.vcf
  test/vcf/4.2/failed/failed_meta_pedigreedb_002.vcf
  test/vcf/4.2/passed/complexfile_passed_000.vcf
  test/vcf/4.2/passed/passed_meta_pedigreedb.vcf
  test/vcf/4.3/failed/failed_meta_pedigreedb_002.vcf
  test/vcf/4.3/passed/complexfile_passed_000.vcf
  test/vcf/4.3/passed/passed_meta_pedigreedb.vcf
Labels: vcf

#651 Add ELEMENT to PL header tag
  SAMv1.tex
Labels: sam

#662 adding ultima genomics platform
  SAMv1.tex
Labels: sam
