Repository samtools/hts-specs, pull requests merged in 2022-02, with the labels that each got.

#501 Bump to 1.0.1
  pub/refget-openapi.yaml
  refget.md
Labels: enhancement, refget

#628 CRAM: only use BETA encoding for integer data series.
  test/cram/3.0/passed/1101_BETA.cram
Labels: cram

#614 Migrate base modifications SAM tags from draft to official name space
  SAMtags.tex
Labels: sam, sam-tags
