Repository samtools/hts-specs, pull requests merged in 2023-05, with the labels that each got.

#723 Fix spurious errors in test/sam/failed/aux.fail-f1.sam et al
  test/sam/failed/aux.fail-f1.sam
  test/sam/passed/aux.pass-f.sam
Labels: sam

#670 Clarify SAM file encoding (mostly ASCII, some UTF-8 parts)
  SAMv1.tex
Labels: sam

#702 Spell out slice md5sums interaction with embedded references
  CRAMv3.tex
Labels: cram

#721 Clarify that `@RG PI` values are integers
  SAMv1.tex
  test/sam/failed/hdr.RG4.sam
  test/sam/passed/hdr.RG9.sam
Labels: sam

#686 add SINGULAR to platform tags
  SAMv1.tex
Labels: sam, sam-tags
